{% extends "template.html" %}
{% block content %}
{% load static %}
<div class="about-header center">
    <h1>ABOUT</h1>
    <p>Home / About</p>
  </div>
  <div class="about1">
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <img src="{% static 'Images/img-1a_960x.png'%}" alt="earphone" />
        </div>
        <div class="col-lg ">
          <div class="specifications-items">
            <div>
              <h4>Wireless Ear Buds</h4>
              <p>Feugiat nisl pretium fuesce</p>
            </div>
            <div>
              <h4>Bluetooth Ear Shot</h4>
              <p>Sollicitudin aliquam ultrices</p>
            </div>
            <div>
              <h4>High-Quality Sound</h4>
              <p>Act orci phasellus eges llus</p>
            </div>
            <div>
              <h4>Smooth Sound Base</h4>
              <p>Etiam dignissim diam quis</p>
            </div>
            <div>
              <h4>Hands-Free Talk</h4>
              <p>Aliquam sem fringilla morbi</p>
            </div>
            <div>
              <h4>Relax Tuned Lists</h4>
              <p>Nibh tortor id aliquet lectu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about2">
    <div class="container">
      <h1>Explore Our Collections</h1>
      <div class="row">
        <div class="col-md">
          <img src="{% static 'Images/about-1.webp'%}" alt="about1" />
          <div class="desc center">
            <h2>Reliable Music</h2>
            <p>
              Adipiscing diam donec adipiscing tristique risus nec feugiat
              in sit amet sit amet justo
            </p>
          </div>
        </div>
        <div class="col-md">
          <img src="{% static 'Images/about-2.webp'%}" alt="about2" />
          <div class="desc center">
            <h2>Soft Rhythm</h2>
            <p>
              Ultrices mi tempus imperdiet nulla malesuada pellentesque
              elit.Aliquam faucibus massa purusets
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about3">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <img src="{% static 'Images/about-3.webp'%}" alt="about3" />
        </div>
        <div class="col-lg-7">
          <h1>Music Therapy</h1>
          <p>
            Interdum velit laoreet id donec ultrices tincidunt arcu non.
            Justo laoreet sitamet cursus sit amet dictumsita.
          </p>
          <a class="link">Read More</a>
        </div>
      </div>
      <div class="row row2">
        <div class="col-lg-5">
          <img src="{% static 'Images/about-4.webp'%}" alt="about4" />
        </div>
        <div class="col-lg-7">
          <h1>Fuse Music</h1>
          <p>
            Diam sollicitudin tempor id eu nisl nunc mi ipsum. Nam aliquam
            sem et tortor consequat id porta tortornih.
          </p>
          <a class="link">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="about4">
    <div class="container">
      <h1>Our Team</h1>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <div class="col">
          <div class="image">
            <img src="{% static 'Images/team-4.webp'%}" alt="team1" />
            <div class="socials">
              <a to="#" class="center">
                <FontAwesomeIcon icon={faFacebookF} />
              </a>
              <a to="#" class="center">
                <FontAwesomeIcon icon={faTwitter} />
              </a>
              <a to="#" class="center">
                <FontAwesomeIcon icon={faPinterestP} />
              </a>
              <a to="#" class="center">
                <FontAwesomeIcon icon={faYoutube} />
              </a>
            </div>
          </div>
          <h4>Ala Olivia</h4>
          <p>CEO</p>
        </div>
        <div class="col">
          <div class="image">
            <img src="{% static 'Images/team-3.webp'%}" alt="team2" />
            <div class="socials">
              <a to="#" class="center">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a to="#" class="center">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a to="#" class="center">
                <i class="fa-brands fa-pinterest-p"></i>
              </a>
              <a to="#" class="center">
               <i class="fa-brands fa-youtube"></i>
              </a>
            </div>
          </div>
          <h4>George Leo</h4>
          <p>Project Manager</p>
        </div>
        <div class="col">
          <div class="image">
            <img src="{% static 'Images/team-2.webp'%}" alt="team3" />
            <div class="socials">
                <a to="#" class="center">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a to="#" class="center">
                  <i class="fa-brands fa-twitter"></i>
                </a>
                <a to="#" class="center">
                  <i class="fa-brands fa-pinterest-p"></i>
                </a>
                <a to="#" class="center">
                 <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
          </div>
          <h4>Amelia Jacky</h4>
          <p>Production Controller</p>
        </div>
        <div class="col">
          <div class="image">
            <img src="{% static 'Images/team-1.webp'%}" alt="team4" />
            <div class="socials">
                <a to="#" class="center">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a to="#" class="center">
                  <i class="fa-brands fa-twitter"></i>
                </a>
                <a to="#" class="center">
                  <i class="fa-brands fa-pinterest-p"></i>
                </a>
                <a to="#" class="center">
                 <i class="fa-brands fa-youtube"></i>
                </a>
              </div>
          </div>
          <h4>Daniel Arthur</h4>
          <p>Store Manager</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}